<IfModule mod_rewrite.c>      
  RewriteEngine on
  RewriteBase /iphone
  RewriteCond %{REQUEST_URI} !^/icons
  RewriteCond %{REQUEST_URI} !^/iphone/style
  RewriteCond %{REQUEST_URI} !^/iphone/js
  RewriteCond %{REQUEST_URI} !^/iphone/images
  RewriteCond %{REQUEST_URI} !^/favicon.ico$
  RewriteCond %{REQUEST_URI} !^(/.*)+code.cgi/
  RewriteRule ^(.*)$ code.cgi/$1 [PT]
</IfModule>
