$def with ()
$var title: За iPhone версии
<dl>
	<dt>Автор</dt>
	<dd><a href="http://nikolay.bg/">Николай Бачийски</a></dd>
	<dt>Код, бъгове</dt>
	<dd>Кодът е свободен и <a href="http://github.com/nb/iphone-versions">може да го намерите в github</a>. Там можете да съобщавате и за проблеми. Приложенийцето е писано на Python и ползва <a href="http://webpy.org/">web.py</a>.</dd>
	<dt>Икони</dt>
	<dd><a href="http://www.famfamfam.com/lab/icons/silk/">Silk от famfamfam</a></dd>	
	<dt>Права за ползване</dt>
	<dd>Тук е малко сложно. Използвам информация от <a href="http://bdz.bg/" title="Boooooo">сайта на БДЖ</a>, която сигурно нямам право да взимам така наготово. Не се чувствам виновен защото: услугата им не ми е удобна, а страниците им с <a href="http://bdz.creato.biz/bg/terms">условия за ползване</a> и <a href="http://bdz.creato.biz/bg/legal">правна информация</a> са празни.</dd>
</dl>