$def with ()
$var title: iPhone версии
<ul>
	<li><img src="$:images_url('accept.png')" style="vertical-align: -24%;" alt="" /> БДЖ &mdash; <a href="$url('bdz')">разписание</a></li>
	<li><img src="$:images_url('pencil.png')" style="vertical-align: -24%;" alt="" /> СКГТ &mdash; скоро&hellip;</li>
	<li><img src="$:images_url('pencil.png')" style="vertical-align: -24%;" alt="" /> Централна автогара &mdash; скоро&hellip;</li>	
	<li class="second-class-citizen">
		<img src="$:images_url('user.png')" style="vertical-align: -24%;" alt="" />
		Ако имате въпроси, проблеми, идеи или искате да помогнете, <a href="mailto:Николай Бачийски <nb@nikolay.bg>?subject=iPhone версии">пишете ми</a> или погледнете <a href="$url('about')">страничката Относно</a>.
	</li>
</ul>