$def with ()
$var title: iPhone версии
<ul>
	<li><img src="$:url('images', 'accept.png')" style="vertical-align: -24%;" alt="" /> БДЖ &mdash; <a href="$url('bdz')">разписание</a></li>
	<li><img src="$:url('images', 'pencil.png')" style="vertical-align: -24%;" alt="" /> СКГТ &mdash; скоро&hellip;</li>
	<li><img src="$:url('images', 'pencil.png')" style="vertical-align: -24%;" alt="" /> Централна автогара &mdash; скоро&hellip;</li>	
	<li class="second-class-citizen">
		<img src="$:url('images', 'user.png')" style="vertical-align: -24%;" alt="" />
		Ако имате проблеми, идеи или искате да помогнете, <a href="mailto:nb@nikolay.bg?subject=iPhone версии">пишете ми</a> или погледнете <a href="$url('about')">страничката Относно</a>.
	</li>
</ul>